<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>fo</title>
  </head>
  <body>
    <div id="page-container">
      <footer>
  			<section id= "social-media">
  				<a href="#"><i class="fab fa-facebook-f"></i></a>
  				<a href="#"><i class="fab fa-twitter"></i></a>
  				<a href="https://www.linkedin.com/in/jahaziel-vazquez" target= "_blank"><i class="fab fa-linkedin"></i></a>
  				<a href="https://github.com/Jahazielvaz" target= "_blank"><i class="fab fa-github"></i></a>
  				<a href="#"><i class="fab fa-youtube"></i></a>
  			</section>
  			<ul>
  				<li><a href= "#">Contact</a></li>
  				<li><a href="#">About</a></li>
  				<li><a href="#">Sitemap</a></li>
  				<li><a href="#">Privacy Policy</a></li>
  				<li><a href="#">Terms of use</a></li>
  			</ul>


  		</footer>

  		<div id= "final-section">
  			<p>@Jahaziel (Jay) Vazquez</p>
  		</div>
    </div>
  </body>
</html>
