<!DOCTYPE html>
<html>
  <head>
    <head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>My portfolio landing page</title>
    	<link rel="stylesheet" type="text/css" href="main.css">
    	<!-- <link rel="shorcut icon" type="image/jpg" href="images/emoji.jpg"> -->
    	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    	<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Berkshire+Swash|Cinzel|Cookie|Dancing+Script|Orbitron|Pacifico|Permanent+Marker|Rajdhani|Ranga" rel="stylesheet">
    </head>
  </head>
  <body>
    <!-- <div id="page-container"> -->
      <header>
  			<a href="#">
  				<div class="heading-div">
  					<h1>Full Stack Web developer</h1>
  					<h2>Jahaziel (Jay) Vazquez</h2>
  				</div>
  			</a>

  			<nav class="nav-wrapper">
  				<ul>
  					<a href="#" id="contact">
  						<li class="main-list">
  							CONTACT
  							<ul>
  								<li><a href="#" id="meetDev"></a></li>
  								<li><a href="#" id="phoneNumber"></a></li>
  								<li><a href="#" id="socialMedia"></a></li>
  							</ul>
  						</li>
  					</a>

  					<a href="https://medium.com/@jahazielvazquez" target= "_blank"><li class="main-list">BLOG</li></a>
  					<a href="#"><li class="main-list">EXPERIENCE</li></a>
  					<a href="#"><li class="main-list">PORTFOLIO</li></a>
  					<a href="#"><li class="main-list">ABOUT</li></a>
  					<!-- <a href="file:///Users/KupidoExportLLC/Desktop/web-dev-projects/my-portfolio/dream-journal/dreams.html"><li class="main-list">DREAM JOURNAL</li></a> -->
  				</ul>
  			</nav>
  		</header>
  	<!--END OF HEADER-->
    <!-- </div> -->
  </body>
</html>
