*{
	margin:0px;
	padding:0px;
	font-family:helvetica, verdana;

}

body{
	background-color:#1b1b1b;
}

li{
	list-style: none;
}

header{
	padding:40px 30px 40px 30px;
	color:white;
	background-color:black;
	margin-left: 30px auto;

}

h1.main-heading{
	margin:10px auto;

}

nav.main-navi-wrapper{
	position:relative;
	bottom:35px;
}

li{
	float:right;
	margin-left:20px;
	margin-right:20px;
}

a:link{
	color:white;
	text-decoration: underline;
}

a:hover{
	color:white;
	text-decoration: underline;
	text-decoration-color:white;

}

a:visited{
	color:white;
	text-decoration: underline;
	text-decoration-color:white;
}

div.main-section-wrapper{
	background:url(images/purple-haze.jpg) no-repeat center center;
	width:100%;
	height:500px;
	
}

h2.welcome {
	color:white;
	font-size:60px;
	text-align:center;
	position:relative;
	top:130px;
	margin:auto auto;
}

div.divider{
	background-color: #1b1b1b;
	width:100%;
	height:400px;
	margin:auto auto;
}


h2.bio-heading{
	position:relative;
	top:50px;

}

h2.bio-heading, p.bio-text{
	text-align:center;
	color:white;
	font-size:30px;
	margin:auto auto;
	margin-left:100px;
	margin-right:100px;
	position:relative;
	top:50px;
}

input.more-button{
	color:white;
	width:100px;
	height:50px;
	background-color:#1b1b1b;
	border-style:solid;
	border-color:white;
	border-width:2px;
	margin-right:400px auto;
	
}

div.victory-background{
	color:white;
	font-size:20px;
	background:url(images/victory.jpg) center center no-repeat;
	width:100%;
	height:450px;

}

.portfolio-text{
	color:black;
	margin-left:40px;
	position:relative;
	top:100px;
	left:50px;
}

input.more-two{
	background-color:#FDE1B2;
	border-style:solid;
	border-color:black;
	border-width:2px;
	width:100px;
	height:50px;
	margin:auto;
}

div.portfolio-content{
	background-color:#1b1b1b;
	width:100%;
	height:313px;
}

img.epic-people-screen, img.signup-screen, img.technova-learning-screen{
	float:right;
	margin:3px;
	position:relative;
	right:10px;
}

img.epic-people-screen{
	height:300px;
	width:32.5%;
}


img.signup-screen{
	height:300px;
	width:32.5%;
}


img.technova-learning-screen{
	height:300px;
	width:32.5%;
}

div.footer-head{
	background-color:white;
	width:100%;
	height:30px;
}

div.footer{
	width:100%;
	height:200px;
	background-color:#DEDCDE;
	padding-top:50px;
	padding-bottom:50px;


}


div.footer a{
	color:black;
	text-decoration:none;
}

div.footer a:hover{
	text-decoration:underline;
	text-decoration-color:black;

}
input.email{
	background-color:#DEDCDE;
	width:250px;
	border:none 0px;
	color:#272822;
	font-size:20px;
	border-bottom:solid #272822 2px;
	margin:10px auto;
	position:relative;
	left:30px;
	top:40px;
}

p.req-field{
	color:#272822;
	margin:30px;
}

h2.address{
	text-align:center;
	margin-top:50px;
	position:relative;
	bottom:150px;
}

h2.subscribe-text{
	margin:30px;

}

h2.privacy-policy{
	text-align:right;
	position:relative;
	bottom:180px;
	right:30px;
}






