*{
	margin:0px;
	padding:0px;
	font-family: helvetica, verdana;
	list-style: none;
}

a:link{
	color: white;
}

a:visited{
	color: white;
}

a:hover{
	color: #A0A0A0;
}

body{
	background-color:#1b1b1b;
}

header{
	padding:30px;
	color:white;
	background-color:black;
	overflow: auto;
}

div.heading-div{
	float: left;
	width: 30%;
}


nav.nav-wrapper{
	float: right;
	max-width: 700px;
	margin: 20px auto;
}

li.main-list{
	margin: 0 4px;
	display: inline-block;
}
/* END OF HEADER */

section#main-section-wrapper{
	background:url(images/purple-haze.jpg) center center;
	width: auto;

	padding: 30px
}

div.welcome-wrapper{
	min-height: 300px;
}

section#main-section-wrapper h2{
	color:white;
	font-size:60px;
	text-align:center;
	margin: 0px auto;
}
/* END OF MAIN SECTION */

section#bio{
	background-color: #1b1b1b;
	width: auto;
	min-height: 200px;
}

h2.bio-heading, p.bio-text{
	text-align:center;
	color:white;
	font-size:30px;
	margin: 20px 20px 0px 20px;
}

input.more-button{
	color:white;
	width:100px;
	height:50px;
	background-color:#1b1b1b;
	border-style:solid;
	border-color:white;
	border-width:2px;
	margin: 20px auto;
}
/* END OF BIO SECTION #A03C53 #A03C81*/

section#victory-background{
	color:white;
	font-size:20px;
	background:url(images/victory.jpg) center center;
	width: auto;
	margin: auto;
	overflow: auto;
}

div.portfolio-text{
	color:black;
	margin: 40px;
	font-weight: bold;
	max-width: ;
}

input.more-two{
	background-color: #FDE1B2;
	border-style:solid;
	border-color:black;
	border-width:2px;
	width: 100px;
	height:50px;
	margin:10px auto;
}
/* END OF PORTFOLIO SECTION*/


section.portfolio-content{
	background-color:#1b1b1b;
	width:100%;
}

section.portfolio-content img{
	display: inline-block;
	width: 32%;
	margin-left: auto;
	margin-right: auto;
}

article{
	margin: auto;
	width: auto;
	text-align: center;
}
/* END OF PORTFOLIO CONTENT */


/* FOOTER */
footer{
	text-align: center;
}
footer article{
	//float: left;
	width: 23.7%;
	min-height: 100px;
	background: black;
	border: 2px double white;
	display: inline-block;
}

footer h2{
	color: white;
	text-align: center;
	margin-top: 10%;
}

i.fa{
	font-size: 100px;
	margin: 10% auto 5% auto;
}

/* MEDIA QUERIES #A03C53 #A03C81 ---------------------------------------*/

/*--------------------- MID */
@media(min-width: 701px) and (max-width: 833px){

/* HEADER */
	header{
		padding:10px;
		color:white;
		background-color:black;
		text-align: center;
		font-size: 13px;
	}

	div.heading-div{
		margin: 0 auto;
		width: 30%;
		padding: 60px 25px;
	}


	nav.nav-wrapper{
		width: 40%;
		display: block;
		float: right;
	}

	li.main-list{
		display: block;
		width: 100%;
		margin: 1% auto;
		border: 1px solid white;
		border-radius: 20px;
		opacity: .9;
	}
}


/*-------------------- SMALL */
@media(min-width: 300px) and (max-width: 700px){
	header{
		padding:10px;
		color:white;
		background-color:black;
		text-align: center;
	}

	div.heading-div{
		margin: 0 auto;
		width: 100%;
	}


	nav.nav-wrapper{
		width: 100%;
		display: block;
		margin: 3% auto;
	}

	li.main-list{
		display: block;
		width: auto;
		margin: 5px 6%;
		border: 1px solid white;
		border-radius: 20px;
		opacity: .9;
	}
	/* END OF HEADER */

	section#main-section-wrapper{
		background:#A03C81;
		width: auto;
		overflow: hidden;
	}

	div.welcome-wrapper{
		min-height: auto;
	}

	h2.welcome {
		color: white;
		font-size: 40px;
		text-align: center;
		margin: 0px auto;
	}
	/* END OF SECTION MAIN */

	section#bio{
		background-color: #1b1b1b;
		width: auto;
	}

	h2.bio-heading, p.bio-text{
		text-align:center;
		color:white;
		font-size:20px;
	}

	input.more-button{
		color:white;
		width:100%;
		height:50px;
		background-color:#1b1b1b;
		border-style:solid;
		border-color:white;
		border-width:2px;
		margin: 20px auto;
	}
	/* END OF BIO */

	section#victory-background{
		font-size:20px;
		background: #E9B281;
		width: auto;

	}

	div.portfolio-text{
		color:black;
		margin: 20px auto 0 auto;
		text-align: center;
		font-weight: bold;
	}

	input.more-two{
		background-color:#FDE1B2;
		border-style:solid;
		border-color:black;
		border-width:2px;
		width:95%;
		height:50px;
		margin: 20px auto;
	}
	/* END OF PORTFOLIO */

	section.portfolio-content{
	display: none;
}
	/* END OF PORTFOLIO CONTENT*/

	/* BEGINNING FOOTER */
	footer{
		text-align: center;
		padding: 4% 0;
	}
	footer article{
		width: 95%;
		min-height: auto;
		background: black;
		border: 1px solid white;
		display: inline-block;
	}

	footer h2{
		color: white;
		text-align: center;
		display: inline-block;
	}

	i.fa{
		font-size: 40px;
		margin: 4% auto 5% auto;
	}
}
