<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>My portfolio landing page</title>
	<link rel="stylesheet" type="text/css" href="main.css">
	<!-- <link rel="shorcut icon" type="image/jpg" href="images/emoji.jpg"> -->
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Berkshire+Swash|Cinzel|Cookie|Dancing+Script|Orbitron|Pacifico|Permanent+Marker|Rajdhani|Ranga" rel="stylesheet">
</head>

<body>
	<div id="page-container">
		<header>
			<a href="#">
				<div class="heading-div">
					<h1>Full Stack Web developer</h1>
					<h3>Jahaziel (Jay) Vazquez</h3>
          <h2>908.546.0561</h2>
				</div>
			</a>

			<nav class="nav-wrapper">
				<ul>
					<a href="#" id="contact"><li class="main-list">CONTACT</li></a>
          <a href="#"><li class="main-list">ABOUT</li></a>
					<a href="https://medium.com/@jahazielvazquez" target= "_blank"><li class="main-list">BLOG</li></a>
					<a href="#"><li class="main-list">EXPERIENCE</li></a>
					<a href="#"><li class="main-list">PORTFOLIO</li></a>
					<!-- <a href="file:///Users/KupidoExportLLC/Desktop/web-dev-projects/my-portfolio/dream-journal/dreams.html"><li class="main-list">DREAM JOURNAL</li></a> -->
				</ul>
			</nav>
		</header>
	<!--END OF HEADER-->

		<section id="main-section-wrapper">
			<div class="welcome-wrapper">
				<h2 class="welcome">WELCOME!</h2>
			</div>
		</section>
	<!--END OF MAIN SECTION-->

		<section id="bio">
			<h2 class="bio-heading">SHORT BIO!</h2>
			<p class="bio-text">
				 I'm crazy, and I love to have fun! I'm brutally honest, and I love people. Ever since I descovered software engineering I have made it my life goal to become an amazing programmer. The idea that I can help solve the problems of thousands of people, with a few lines of code, is exhilerating to me. Feel free to check out all my work, and welcome to my page :)<br><br>
				<a href="#"><input type="button" value="MORE" class="more-button"></a>
			</p>
		</section>
	<!--END OF BIO SECTION-->

		<section id="victory-background">
			<div class="portfolio-text">
				<h2>PORTFOLIO</h2>

				<p class= 'portfolio-text'>
					These are some of my projects. <br>
					If you would like some more details about the technologies involved in these projects, or further developer details please visit my github chanel. You'll find the repo name for each of the projects displayed.<br>
					<a href="#"><input type="button" value="MORE" class="more-two"></a>
				</p>
			</div>
		</section>
	<!--END OF PORTFOLIO SECTION-->



		<footer>

			<section id= "social-media">
				<a href="#"><i class="fab fa-facebook-f"></i></a>
				<a href="#"><i class="fab fa-twitter"></i></a>
				<a href="https://www.linkedin.com/in/jahaziel-vazquez" target= "_blank"><i class="fab fa-linkedin"></i></a>
				<a href="https://github.com/Jahazielvaz" target= "_blank"><i class="fab fa-github"></i></a>
				<a href="#"><i class="fab fa-youtube"></i></a>
			</section>
			<ul>
				<li><a href= "#">Contact</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Sitemap</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Terms of use</a></li>
			</ul>


		</footer>

		<div id= "final-section">
			<p>@Jahaziel (Jay) Vazquez</p>
		</div>



	</div>
</body>
</html>
